<h1 class="heading-medium">
  Do you already have a personal user account?
</h1>

<fieldset class="inline">

  <legend class="visuallyhidden">Do you already have a personal user account?</legend>

  <div class="form-group">

    <label class="block-label" for="radio-yes-no-yes">
      <input id="radio-yes-no-yes" type="radio" name="yes-no-group" value="Yes">
      Yes
    </label>

    <label class="block-label" for="radio-yes-no-no">
      <input id="radio-yes-no-no" type="radio" name="yes-no-group" value="No">
      No
    </label>

  </div>

</fieldset>
